header {
    background-color: #908670;
}
#forecast .card-body {
    background-color: #809ea1;
}

#forecast .card-text {
    font-size: 0.8em;
}

#forecast .card-title {
    font-size: 1em;
}

.btn {
    background-color: #60c96c;
    border: 0;
}