/* title font */

@font-face {
    font-family: oldstyle;
    src: url(../fonts/OLDSH___.TTF);
}

/* overall style */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #D7E4C0;
}

header h1 {
    font-family: oldstyle;
    color: #756357;
    font-size: 4em;
}

#history .btn {
    background-color: #BBC3A4;
    border: 0;
    border-radius: 1em;
    color: #756357;
}

#history .btn:hover {
    background-color: #A4AE84;
}

#search-form .btn {
    border-color: #BBC3A4;
    color: #756357;
    border: none;
}

#search-form .btn:hover {
    background-color: transparent;
    color: #52453D;
}

/* TODAY FORECAST */

#today {
    background-color: #C6DCBA;
    border-radius: 1em;
}

.city-name {
    font-size: 3em;
}

#today #wicon {
    height: 100px;
    width: auto;
}

#today-details {
    align-self: flex-end;
    border-left: solid #A5C892;
}

/* 5-DAY FORECAST */

#forecast .card {
    background-color: #C6DCBA;
    border-radius: 1em;
}

#forecast .card-text {
    font-size: 0.8em;
}

#forecast .card-title {
    font-size: 1em;
    font-weight: bold;
}





